.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ground-selectors {
  grid-area: selectors;
}

.ground-buttons {
  grid-area: buttons;
}
.ground-dosbox {
  grid-area: dosbox;
}
.ground-editor {
  grid-area: editor;
}

.popup-stdout {
  font-family: monospace;
  overflow: visible;
  overflow-y: visible;
  overflow-x: visible;
}

@media screen and (max-width: 960px) {
  /* 手机端CSS代码 */
  .ground-Container {
    display: grid;
    grid-template-areas:
      "selectors buttons"
      "dosbox dosbox"
      "editor editor";
  }
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 500px) {
  #mode-selector {
    display: none;
    visibility: collapse;
  }
}

@media screen and (min-width: 960px) {
  .ground-Container {
    display: grid;
    grid-template-areas:
      "selectors buttons"
      "dosbox editor";
    grid-template-columns: 50% auto;
    grid-gap: 1%;
    padding: 10px;
  }
}
